<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffEngine" version="6.4.9" targetFramework="net461" />
  <package id="EmptyFiles" version="2.3.3" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="NUnit" version="3.13.2" targetFramework="net461" />
  <package id="Shouldly" version="4.0.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>